/*--------------------------TAG CSS--------------------------------------*/
body{
    background-color: hsl(0, 0%, 100%);
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
}

html{
    height: 100%;
    margin: 0;
}

h1{
    color: hsl(300, 43%, 22%);
    font-size: 45px;
    font-weight: 700;
    width: 80%;
    margin: 0;
    padding: 100px 0 0 20px;
}

h5{
    bottom: 20px;
    font-weight: 700;
    left: 160px;
    position: relative;
}

p{
    margin: 0;
}

/*--------------------------CLASS CSS--------------------------------------*/

.attribution{
    color: hsl(300, 24%, 96%);
    text-align: center;
}

.body-container-head{
    height: 40%;
    margin: 5% auto 0 auto;
    width: 80%;
}

.body-container-foot{
    background-color: red;
    height: 40%;
    margin: 0 auto 0 auto;
    width: 80%;
}

.card{
    background-color: hsl(300, 43%, 22%);
    border-radius: 4%;
    width: 335px;
    height: 45%;
    padding: 30px;
}

.desc{
    margin-left: 80px;
    width: 40%;
    height: 100%;
}

.desc-info{
    color: hsl(303, 10%, 53%);
    font-weight: 400;
    line-height: 25px;
    padding: 0 0 0 20px;
    width: 80%;
    margin: 0;
}

.dp{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.name{
    font-weight: 700;
    color: hsl(300, 24%, 96%);
}

.namedeg{
    float: right;
    position: relative;
    right: 150px;
    top: 10px;
}

.ratings{
    bottom: 100%;
    height: 100%;
    left: 50%;
    position: relative;
    width: 60%;
}

.rating-box{
    background-color: hsl(300, 24%, 96%);
    border-radius: 7px;
    color: hsl(300, 43%, 22%);
    height: 60px;
    width: 430px;
}

.rev{
    color: hsl(300, 24%, 96%);
    margin-top: 20px;
    line-height: 20px;
    font-weight: 400;
}

.reviews{
    height: 90%;
}

.stars{
    position: relative;
    left: 30px;
    top: 20px;
}

.verified{
    font-weight: 400;
    margin-top: 5px;
    color: hsl(333, 80%, 67%);
}

/*--------------------------ID CSS--------------------------------------*/
#box1{
    position: relative;
    top: 110px;
}

#box2{
    left: 50px;
    position: relative;
    top: 108px;
}

#box3{
    left: 100px;
    position: relative;
    top: 108px;
}

#card1{
    position: relative;
    /* left: 100px; */
}

#card2{
    position: relative;
    /* bottom: 50%; */
    /* left: 500px; */
}

#card3{
    position: relative;
    /* bottom: 600px;
    left: 900px; */
}